<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albertflex.blacksky.mapper.ArtifactMapper">
    
    <select id="fetchByType" resultType="com.albertflex.blacksky.domain.Artifact">
        select 
            id,user_id,type_id,name,version,
            create_time,update_time,title,content
        from artifact
        where type_id=#{typeId}
    </select>
    
    <select id="fetchByUser" resultType="com.albertflex.blacksky.domain.Artifact">
        select 
            id,user_id,type_id,name,version,
            create_time,update_time,title,content
        from artifact
        where user_id=#{userId}
    </select>
    
    <select id="fetch" resultType="com.albertflex.blacksky.domain.Artifact">
        select 
            id,user_id,type_id,name,version,
            create_time,update_time,title,content
        from artifact
        where id=#{artifactId}
    </select>

    <select id="fetchNews" resultType="com.albertflex.blacksky.domain.Artifact">
        select
        id,user_id,type_id,name,version,
        create_time,update_time,title,content
        from artifact
        order by id desc
    </select>

    <select id="fetchNewsType" resultType="com.albertflex.blacksky.domain.ArtifactType">
        select id,name,create_time,user_id
        from artifact_type
        order by name desc
    </select>
    
    <select id="fetchType" resultType="com.albertflex.blacksky.domain.ArtifactType">
        select id,name,create_time,user_id
        from artifact_type
        where id=#{typeId}
    </select>

    <select id="fetchTypes" resultType="com.albertflex.blacksky.domain.ArtifactType">
        select id,name,create_time,user_id
        from artifact_type
        where name like concat('%',#{name},'%')
    </select>
    
    <select id="fetchArtifacts" resultType="com.albertflex.blacksky.domain.Artifact">
        select
            id,user_id,type_id,name,version,
            create_time,update_time,title,content
        from artifact
        where name like concat('%',#{name},'%')
    </select>

    <!--
        private Long artifactId;
        private Long userId;
        private String userName;
        private String name;
        private Date startDate;
        private Date endDate;
    -->
    <select id="query" resultType="com.albertflex.blacksky.domain.Artifact">
        select
            a.id as id,a.user_id as user_id,a.type_id as type_id,
            a.name as name,a.version as version,
            a.create_time as create_time,a.update_time as update_time,
            a.title as title,a.content as content
        from artifact a
        left join user u on u.id=a.user_id
        <where>
            <if test="artifactId!=null and artifactId!=0">
                and a.id=#{artifactId}
            </if>
            <if test="userId!=null and userId!=0">
                and u.id=#{userId}
            </if>
            <if test="userName!=null and userName!=''">
                and u.user_name like concat('%',#{userName},'%')
            </if>
            <if test="title!=null and title!=''">
                and a.title like concat('%',#{title},'%')
            </if>
            <if test="startDate!=null">
                and a.create_time &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and a.create_time &lt;= #{endDate}
            </if>
        </where>
        group by a.id
    </select>
    
    <insert id="newType" keyProperty="id" useGeneratedKeys="true">
        insert into artifact_type (name,user_id)
        values (#{name},#{userId})
    </insert>
    
    <insert id="newArtifact" keyProperty="id" useGeneratedKeys="true">
        insert into artifact (user_id,type_id,name,version,title,content) values
        (
            #{userId},
            #{typeId},
            #{name},
            #{version},
            #{title},
            #{content}
        )
    </insert>
    
    <update id="update">
        update artifact 
        <set>
            <if test="version!=null and version!=''">
                version=#{version},
            </if>
            <if test="title!=null and title!=''">
                title=#{title},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="content!=null and content!=''">
                content=#{content},
            </if>
            update_time = now()
        </set>
        where id=#{id}
    </update>
    
    <delete id="delete">
        delete from artifact a
        where a.id=#{artifactId}
    </delete>

    <delete id="deleteType">
        delete from artifact_type a
        where a.id=#{typeId}
    </delete>
</mapper>        