<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albertflex.blacksky.mapper.FileResourceMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into file_resource(name,format
        <if test="lib!=null and lib!=''">
            ,lib
        </if>
        <if test="ownId!=null and ownId!='0'">
            ,own_id
        </if>
        )
        values
        (#{name},#{format}
        <if test="lib!=null and lib!=''">
            ,#{lib}
        </if>
        <if test="ownId!=null and ownId!='0'">
            ,#{ownId}
        </if>
        )
    </insert>

    <select id="views" resultType="com.albertflex.blacksky.domain.FileResource">
        select id,name,format,upload_time,lib,own_id
        from file_resource
    </select>

    <select id="fetch" resultType="java.lang.Long">
        select id
        from file_resource
        where lib=#{lib} and own_id=#{ownId}
    </select>

    <select id="get" resultType="com.albertflex.blacksky.domain.FileResource">
        select id,name,format,upload_time,lib,own_id
        from file_resource where id=#{id}
    </select>

    <delete id="remove">
        delete file_resource where id=#{id}
    </delete>
</mapper>