<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albertflex.blacksky.mapper.PostMapper">
    <select id="fetchPost" resultType="com.albertflex.blacksky.domain.Post">
        select
        id,title,user_id,create_time,content,reply_count,reply_post_id
        from post where id=#{id}
    </select>

    <select id="fetchNewsPosts" resultType="com.albertflex.blacksky.domain.Post">
        select
        id,title,user_id,create_time,content,reply_count,reply_post_id
        from post order by create_time desc limit #{size}
    </select>

    <select id="fetchPostsByUserId" resultType="com.albertflex.blacksky.domain.Post">
        select
        id,title,user_id,create_time,content,reply_count,reply_post_id
        from post where user_id=#{userId}
    </select>

    <!--
    private Long userId;
    private String userName;
    private String title;
    private Date startDate;
    private Date endDate;
    -->
    <select id="query" resultType="com.albertflex.blacksky.domain.Post">
        select
        from post p
        left join user u1 on u.id=post.user_id
        <where>
            <if test="userId!=null">
                and u1.id=#{userId}
            </if>
            <if test="userName!=null">
                and u1.user_name like concat('%',#{userName},'%')
            </if>
            <if test="title">
                and p.title=#{title}
            </if>
            <if test="startDate!=null">
                and p.create_time &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and p.create &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="fetchPostsReplyOn" resultType="com.albertflex.blacksky.domain.Post">
        select
        id,title,user_id,create_time,content,reply_count,reply_post_id
        from post where reply_post_id=#{postId}
    </select>

    <insert id="post" useGeneratedKeys="true" keyProperty="id">
        insert into post(user_id,content,title,reply_post_id)
        values(#{userId},#{content},#{title},#{replyPostId})
    </insert>

    <delete id="deletePost">
        delete from post
        where id=#{postId}
    </delete>

    <update id="countAdd">
        update post
        set reply_count=reply_count+#{count}
        where id=#{postId}
    </update>
    
    <update id="countDec">
        update post
        set reply_count=reply_count-#{count}
        where id=#{postId}
    </update>
</mapper>